# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Build
build/
build_*/

# Local
*.sublime-workspace
Projects/
Tools/bin/shaderc.local*

# Temp
.*.swp
__pycache__
*.tmp
*.stamp
*.log
*.pyc

# Download
External/SDL2-*/
Engine/tracy
Engine/.tracy
